<app-header></app-header>
<router-outlet></router-outlet>
<!--<div class="dropup-holder chat-outer" [ngClass]="{'active': chat === 1}" [ngStyle]="{'display':Logedin === '1' ? 'block' : 'none' }">-->
  <!--<button class="btn chatbutton" type="button" name="btnChat" (click)="openChat()">-->
    <!--<span class="glyphicon glyphicon-comment"></span> Start Chat-->
    <!--<span class="caret"></span>-->
  <!--</button>-->
  <!--<div class="chat-holder">-->
    <!--<app-chat></app-chat>-->
  <!--</div>-->
<!--</div>-->

<app-footer></app-footer>
