<div class="wrapp-content slider">
    <main class="about-us">
        <div class="container">
            <!-- <div class="courseSlider">
                <div class="homeSlider">
                    <div class="item" *ngFor="let category of Categories">
                        <div class="image"> <a routerLink='/cat_courses/{{category.id}}'> <img class="img"
                                    src="{{catImageUrl}}{{category?.icon_Web_Home}}"> </a> </div>
                        <div class="slide-overlay">
                            <h4 class="card-title"> <a routerLink='/cat_courses/{{category.id}}'
                                    tabindex="0">{{category?.name}}</a> </h4>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="page-title-wrapp">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-title-01 color-black">About Us</h1>
                        </div>
                    </div>
                    <div class="row"> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6"> <img src="../../assets/img/about-slider/about-slider_01.jpg"
                        class="img-responsive width-100" alt='' /> </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="servise-box-01">
                        <h2>What is CourseFrenzy?</h2>
                        <p> CourseFrenzy is a next generation Artificially Intelligent Auction Marketplace to connect
                            Instructors and Students together for a Super-Fast Ultra-Cool worldwide learning experience.
                            Courses can be Sold, Bought, Rented or Bid on through an auction experience.
                            <br>CourseFrenzy assists students and professionals in researching, trading and bidding on
                            desired courses at the best price from top and trusted Instructors. From Price Comparison to
                            Reviews Aggregation/Crunching and, a Custom CourseFrenzyScore of every Buyer, Seller and
                            Course based on our proprietary Machine Learning Engine, CourseFrenzy will assist the user
                            through a trusted, neutral, unbiased, time and money saving learning experience.
                            <br>CourseFrenzyequips students with smarter education, counseling, teaching, demonstration
                            and a whole lot more to achieve their learning targets. <br>Cutting to the chase,
                            CourseFrenzy is the Online Courses Universe: Learn with a Roar! <br>It helps students
                            achieve their goals by offering:</p>
                        <div class="module_skills">
                            <div class="module_inner">
                                <div class="shortcode_skills">
                                    <ul class="skills_list">
                                        <li class="skill_li skill_li-in">
                                            <h6 class="skill-title">Exact Sciences</h6>
                                            <div class="progress">
                                                <div class="progress-bar custom-style-90">
                                                    <div class="progress-value">90%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="skill_li skill_li-in">
                                            <h6 class="skill-title">Technologies</h6>
                                            <div class="progress">
                                                <div class="progress-bar custom-style-95">
                                                    <div class="progress-value">95%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="skill_li skill_li-in">
                                            <h6 class="skill-title">Languages</h6>
                                            <div class="progress">
                                                <div class="progress-bar custom-style-85">
                                                    <div class="progress-value">85%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="skill_li skill_li-in">
                                            <h6 class="skill-title">Humanities</h6>
                                            <div class="progress">
                                                <div class="progress-bar custom-style-80">
                                                    <div class="progress-value">80%</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax parallax_02" data-type="background" data-speed="10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="parallax-content-01">
                            <h3 class="parallax-title">Trusted by Over <span>6000+</span> Students</h3>
                            <div class="parallax-text">
                                <p>CourseFrenzy offers quality and expert instructors. We provide students with
                                    counseling, teaching, demonstration and everything our students need to achieve
                                    their targets.</p>
                            </div><a [ngStyle]="{'display':Logedin==='0' ? 'inline-block' : 'none'}"
                                [routerLink]="['/login']" class="parallax-btn">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 servise-box-01">
                    <h2>Advantages of Learning Online </h2>
                    <p>The Smart Education degree is equal in academic standard to a degree from any other university.
                        The Smart Educatin is subject to the same quality assurance procedures as all other
                        universities, and uses external assessors and examiners to ensure quality standards. We’re
                        consistently rated ‘excellent’ in teaching assessments.</p>
                    <blockquote class="">
                        <p>It's really clear that the most precious resource we all have is time.</p>
                    </blockquote>
                    <div class="module-counter counter-01">
                        <div class="shortcode_counter">
                            <div class="counter_wrapper">
                                <div class="counter_content">
                                    <div class="stat_count_wrapper">
                                        <p class="stat_count" data-count="2458">362</p>
                                        <p class="counter_title">People Working</p>
                                    </div>
                                    <div class="stat_temp"></div>
                                </div>
                            </div>
                        </div>
                        <div class="shortcode_counter">
                            <div class="counter_wrapper">
                                <div class="counter_content">
                                    <div class="stat_count_wrapper">
                                        <p class="stat_count" data-count="2458">5,500</p>
                                        <p class="counter_title">Student Enrolled</p>
                                    </div>
                                    <div class="stat_temp"></div>
                                </div>
                            </div>
                        </div>
                        <div class="shortcode_counter">
                            <div class="counter_wrapper">
                                <div class="counter_content">
                                    <div class="stat_count_wrapper">
                                        <p class="stat_count" data-count="19">10</p>
                                        <p class="counter_title">Years of Experience</p>
                                    </div>
                                    <div class="stat_temp"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6"> <img class="about-img" src="../../assets/img/about_img_01.jpg"
                        alt=""> </div>
            </div>
        </div>
    </main>
</div>