<app-loader></app-loader>
<div id="wrapper">
    <section class="section bgw padding-t-b">
        <div class="container terms-wrapper">
            <div class="text-center">
                <h1> Terms of Use
                </h1>
                <hr>
            </div>

            <h5>Effective: March 15, 2019</h5>
            <h4>Course Frenzy’s products and services are provided by CourseFrenzy, LLC. These Terms of Use ("Terms") govern your use of CourseFrenzy website, apps, and other products and services ("Services"). As some of our Services may be software that is downloaded to your computer, phone, tablet, or other device, you agree that we may automatically update this software, and that these Terms will apply to such updates. Its CourseFrenzy mission is to improve lives through learning. We enable anyone anywhere to create and share educational courses (instructors) and to enroll in these educational courses to learn (students). We consider our marketplace model the best way to offer valuable educational content to our users.
            </h4>
            <h4>By using this Service, clicking “I Agree”, registering a User Account (defined below), purchasing an Online Course, or by indicating your agreement to this Terms of Use through a similar mechanism, you are agreeing to be bound by this Terms of Use. If you do not agree to this Terms of Use, do not use the Services.
            </h4>
            <h4>The purpose of this terms and conditions is to help ensure that all information provided by you will not be used for any other activity other than what you (visitor/client) and we (CourseFrenzy) agree upon. Our goal is to provide you with a satisfying experience while allowing you to control your privacy and to give you a means to voice any questions or concerns you may have.
            </h4>

            <h4> PLEASE READ THE FOLLOWING TERMS OF USE CAREFULLY. BY REGISTERING FOR, ACCESSING, BROWSING, OR USING THE WEBSITE, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THE FOLLOWING TERMS AND CONDITIONS, INCLUDING THE COURSE FRENZY PRIVACY POLICY AND ANY ADDITIONAL GUIDELINES (AS DEFINED BELOW) (COLLECTIVELY, THE “TERMS”).
            </h4>
            
            <h4> You can find information in each section of Terms of Use
            </h4>
            <ul>
                <li>Use our Services
                </li>
                <li>Our License to users
                </li>
                <li>Account</li>
                <li>Course Enrollment and Lifetime Access
                </li>
                <li>User Content
                </li>
                <li>Copyright Policy
                </li>
                <li>Integrated Service
                </li>
                <li>Modification of the Terms
                </li>
                <li>User Content Disclaimer
                </li>
                <li>CourseFrenzy Rights on content you Post
                </li>
                <li>Using CourseFrenzy at your own RISK
                </li>
                <li>Agreement </li>
                <li>Disclaimers</li>
                <li>Users are not allowed to
                </li>
                <li>Code of Conduct
                </li>
                <li>Termination</li>
            </ul>

            
            <h2>For Who May Use our Services
            </h2>
            <h4>You may use our Services only if you can form a binding contract with CourseFrenzy, and only in compliance with these Terms and all applicable laws. When you create your CourseFrenzy account, and subsequently when you use certain features, you must provide us with accurate and complete information, and you agree to update your information to keep it accurate and complete.</h4>
            <h2>Our License to users
            </h2>
            <h4>Subject to these Terms and our policies (including the Acceptable Use Policy, Honor Code, and course-specific eligibility requirements and other terms), we grant you a limited, personal, non-exclusive, non-transferable, and revocable license to use our Services. You may download content from our Services only for your personal, non-commercial use, unless you obtain Course Frenzy’s written permission to otherwise use the content. You also agree that you will create, access, and/or use only one user account, and you will not share with any third party access to or access information for your account. Using our Services does not give you ownership of any intellectual property rights in our Services or the content you access.
            </h4>
            <h2>Account</h2>
            <h4>In order to use certain features of the Website, you must register for an account. You may be asked to provide a password in connection with your account. You are solely responsible for maintaining the confidentiality of your account and password, and you agree to accept responsibility for all activities that occur under your account or password. You agree that the information you provide to CourseFrenzy, whether at registration or at any other time, will be true, accurate, current, and complete. You also agree that you will ensure that this information is kept accurate and up-to-date at all times. If You have reason to believe that your account is no longer secure (e.g., in the event of a loss, theft or unauthorized disclosure or use of your account ID or password), then You agree to immediately notify CourseFrenzy at contact@coursefrenzy.com You may be liable for the losses incurred by CourseFrenzy or others due to any unauthorized use of your Website account.<br>
            In order to use, access, or take part in many of our Services, including the Online Courses or to provide Mentor Services, you must select a login identification ("User ID") and a unique user password ("User Password") (collectively, a "User Account"). You agree that you will never divulge or share access to your User Account with any third party for any reason.

            </h4>
            <h2>Course Enrollment and Lifetime Access
            </h2>
            <h4>When you enroll in a course, you get a license from us to view it via the CourseFrenzy Services and no other use. Don’t try to transfer or resell courses in any way. We grant you a lifetime access license, except when we must disable the course because of legal or policy reasons.
            </h4>
            <h2>User Content
            </h2>
            <h4>The Services enable you to share your content, such as homework, quizzes, exams, projects, and other assignments you submit, posts you make in the forums, and the like ("User Content"), with CourseFrenzy, instructors, and/or other users. You retain all intellectual property rights in, and are responsible for, the User Content you share.
            </h4>
            <h2>Copyright Policy
            </h2>
            <h4>CourseFrenzy respects the intellectual property rights of our users, participating institutions, and other third parties and expects our users to do the same when using the Services. We have adopted and implemented the CourseFrenzy Copyright and Trademark Policy in accordance with applicable law, including the Digital Millennium Copyright Act.
            </h4>
            <h2>Integrated Service
            </h2>
            <h4> CourseFrenzy may permit you to register for the Website through, or otherwise associate your CourseFrenzy account with, certain third party social networking or integrated services, such as Facebook Connect and Google (“Integrated Service”). By registering for the Website using (or otherwise granting access to) an Integrated Service, you agree that CourseFrenzy may access your Integrated Service’s account information, and you agree to any and all terms and conditions of the Integrated Service regarding your use of the Website via the Integrated Service. CourseFrenzy does not control the practices of Integrated Services, and you are advised to read the Privacy Policy and terms and conditions of any Integrated Service that you use to understand their practices.
            </h4>
            <h2>Modification of the Terms
            </h2>
            <h4>CourseFrenzy reserves the right, at our discretion, to change, modify, add, or remove portions of the Terms at any time. Please check the Terms and any Guidelines periodically for changes. Your continued use of the Website after the posting of changes constitutes your binding acceptance of such changes. For any material changes to the Terms, CourseFrenzy will make reasonable effort to provide notice to you of such amended Terms, such as by an email notification to the address associated with your account or by posting a notice on the Website, and such amended terms will be effective against You on the earlier of (i) your actual notice of such changes and (ii) thirty days after CourseFrenzy makes reasonable attempt to provide you such notice. Disputes arising under these Terms will be resolved in accordance with the version of the Terms in place at the time the dispute arose.
            </h4>
            <h2>User Content Disclaimer
            </h2>
            <h4> You understand that when using the Website You will be exposed to User Content from a variety of sources, and that CourseFrenzy is not responsible for the accuracy, usefulness, or intellectual property rights of or relating to such User Content. You further understand and acknowledge that You may be exposed to User Content that is inaccurate, offensive, indecent or objectionable, and You agree to waive, and hereby do waive, any legal or equitable rights or remedies You have or may have against CourseFrenzy with respect thereto. CourseFrenzy does not endorse any User Content or any opinion, recommendation or advice expressed therein, and CourseFrenzy expressly disclaims any and all liability in connection with User Content.
            </h4>
            <h2>CourseFrenzy Rights on content you Post
            </h2>
            <h4>The content you post as a student or instructor (including courses) remains yours. By posting courses and other content, you allow CourseFrenzy to reuse and share it but you do not lose any ownership rights you may have over your content. If you are an instructor, be sure to understand the course licensing terms that are detailed in the Instructor Agreement. When you post comments, questions, reviews, and when you submit to us ideas and suggestions for new features or improvements, you authorize CourseFrenzy to use and share this content with anyone, distribute it and promote it on any platform and in any media, and to make modifications or edits to it as we see fit.
            </h4>
            <h2>Using CourseFrenzy at your own RISK
            </h2>
            <h4>When you use our Services, you will find links to other websites that we don’t own or control. We are not responsible for the content or any other aspect of these third-party sites, including their collection of information about you. You should also read their terms and conditions and privacy policies.
            </h4>
            <h2>Agreement </h2>
            <h4>You agree that by registering, accessing or using our Services, you are agreeing to enter into a legally binding contract with CourseFrenzy. If you do not agree to these Terms, do not register, access, or otherwise use any of our Services. If you are an instructor or student accepting these Terms and using our Services on behalf of a company or school, organization, government, or other legal entity, you represent and warrant that you are authorized to do so.
            </h4>
            <h2>Disclaimers</h2>
            <h4>THE SERVICES AND ALL INCLUDED CONTENT ARE PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED. THE COURSEFRENZY PARTIES SPECIFICALLY DISCLAIM ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. THE COURSEFRENZY PARTIES FURTHER DISCLAIM ANY AND ALL LIABILITY RELATED TO YOUR ACCESS OR USE OF THE SERVICES OR ANY RELATED CONTENT. YOU ACKNOWLEDGE AND AGREE THAT ANY ACCESS TO OR USE OF THE SERVICES OR SUCH CONTENT IS AT YOUR OWN RISK.
            </h4>
            <h2>Users are not allowed to
            </h2>
            <ul>
                <li>Do anything that violates local, state, national or international law or breaches any of your contractual obligations or fiduciary duties.
                </li>
                <li>Share your password, let anyone access your account, or do anything that might put your account at risk.
                </li>
                <li>Attempt to access any other user's account.
                </li>
                <li>Reproduce, transfer, sell, resell, or otherwise misuse any content from our Services, unless specifically authorized to do so.
                </li>
                <li>Access, tamper with, or use non-public areas of our systems, unless specifically authorized to do so.
                </li>
                <li>Break or circumvent our authentication or security measures or otherwise test the vulnerability of our systems or networks, unless specifically authorized to do so.
                </li>
                <li>Try to reverse engineer any portion of our Services.
                </li>
                <li>Try to interfere with any user, host, or network, for example by sending a virus, overloading, spamming, or mail-bombing.
                </li>
                <li>Use our Services to distribute malware.
                </li>
                <li>Impersonate or misrepresent your affiliation with any person or entity.
                </li>
                <li>Encourage or help anyone do any of the things on this list.
                </li>
            </ul>
            <h2>
                Code of Conduct
            </h2>
            <ul>
                <li>I will register for only one account.
                </li>
                <li>I will not engage in any other activities that will dishonestly improve my results or dishonestly improve or hurt the results of others.
                </li>
                <li>I will not use the Website for any commercial use or purpose unless expressly permitted by CourseFrenzy in writing, it being understood that the Website and related services are intended for personal, non-commercial use only.
                </li>
                <li>I will not post, upload, or distribute any User Content or other content that is unlawful or that a reasonable person could deem to be objectionable, offensive, indecent, pornographic, harassing, threatening, embarrassing, distressing, vulgar, hateful, racially or ethnically offensive, or otherwise inappropriate.
                </li>
                <li>I will not use the Website for any illegal purpose, or in violation of any local, state, national, or international law, including, without limitation, laws governing intellectual property and other proprietary rights, and data protection and privacy.
                </li>
            </ul>


            <h2>Contact information</h2>
            <h4>5050 Quorum Drive, Suite 700 Dallas, TX 75254 <br>Voice: +1-888-764-0100 <br>Fax: +1-469-250-6600 </h4>
        </div>
    </section>
</div>