<app-loader></app-loader>
<div class="row login-page">
    <div class="col-lg-4 col-md-3"></div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 login-wrap">
        <form class="ng-untouched ng-pristine ng-valid"
            (ngSubmit)=" !passwordFormControl.hasError('required') && !passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('maxlength') && !password2FormControl.hasError('required') && !password2FormControl.hasError('pattern') && !password2FormControl.hasError('minlength') && !password2FormControl.hasError('maxlength') && captcha && onSubmit(f)"
            #f="ngForm" novalidate>
            <div class="card">
                <div class="card-header text-center" data-background-color="rose">
                    <h4 class="card-title"><label class="font"> Change Password</label></h4>
                </div>
                <div class="card-content">
                    <mat-form-field class="example-full-width mat-size"> <input 
                            matInput placeholder="Enter Your Password" tabindex=2 [formControl]="passwordFormControl"
                            [(ngModel)]="model.password"  type="password" id="password" [type]="hide ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-hint align="start"><strong>Atleast 8 characters </strong> </mat-hint>
                        <mat-error *ngIf="passwordFormControl.hasError('required')"> Password is
                            <strong>required</strong> </mat-error>
                        <mat-error *ngIf="passwordFormControl.hasError('pattern')"> Password must contain at least one
                            upper case letter, one lower case letter, one special character and one digit </mat-error>
                        <mat-error *ngIf="passwordFormControl.hasError('minlength')"> Password must be <strong>atleast 8
                                characters long</strong> </mat-error>
                        <mat-error *ngIf="passwordFormControl.hasError('maxlength')"> Maximum Length of <strong>Password
                                can be 30 characters</strong> </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width mat-size"> <input 
                            matInput placeholder="Re-Enter Your Password" tabindex=2 
                            [formControl]="password2FormControl" [(ngModel)]="model.password2" type="password" id="password" [type]="hide ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-hint align="start"><strong>Atleast 8 characters </strong> </mat-hint>
                        <mat-error *ngIf="password2FormControl.hasError('required')"> Password is
                            <strong>required</strong> </mat-error>
                        <mat-error *ngIf="password2FormControl.hasError('pattern')"> Password must contain at least one
                            upper case letter, one lower case letter, one special character and one digit </mat-error>
                        <mat-error *ngIf="password2FormControl.hasError('minlength')"> Password must be <strong>atleast
                                8 characters long</strong> </mat-error>
                        <mat-error *ngIf="password2FormControl.hasError('maxlength')"> Maximum Length of
                            <strong>Password can be 30 characters</strong> </mat-error>
                    </mat-form-field>
                </div>
                <!-- <div class="form-group recaptcha-padding text-center" [ngClass]="{'has-error': f.submitted && !captcha}"> <re-captcha (resolved)="resolved($event)" siteKey="6LcMeE4UAAAAAORPbOfwjGczzxsz843f24BA92IN" required></re-captcha> <div *ngIf="f.submitted && !captcha" class="help-block">ReCaptcha is required</div></div>-->
                <div class="footer text-center"> <button type="submit" class="button" tabindex=3 (click)="onSubmit(f)">Save</button> </div>
            </div>
        </form>
    </div>
    <div class="col-lg-4 col-md-3"></div>
</div>